<div *ngIf="products" class="prod-container">
  <div *ngFor="let product of products" class="card-container">
    <div class="card" style="width: 18rem">
      <img class="card-img-top" [src]="product.imageUrl" alt="Product Image" />
      <div class="card-body">
        <h4 class="card-title">{{ product.title | titlecase }}</h4>
        <div class="d-flex justify-content-between">
          <p class="card-text">
            {{ product.category | titlecase }}
          </p>
          <h5 class="card-title">
            {{ product.price | currency: "INR":"symbol" }}
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
