.prod-container {
  width: 90vw;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: space-evenly;
}
button {
  margin: 0 0.2rem;
}
img:hover {
  transform: scale(1.05);
  transition: ease-in-out 0.3s;
}
.card {
  overflow: hidden;
}
