<div class="m-5">
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Category</th>
        <th>Price</th>
        <th class="text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of availableProducts">
        <td>{{ p.title }}</td>
        <td>{{ p.category }}</td>
        <td>{{ p.price }}</td>
        <td class="d-flex justify-content-center">
          <button (click)="goToForm(p.id)" class="btn btn-primary py-1">
            Edit
          </button>
          <button
            (click)="deleteProduct(p.id)"
            class="btn btn-danger ms-2 py-1"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <a routerLink="/admin/products/new" class="btn btn-primary">New Product</a>
</div>
